@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  background: rgb(104, 28, 184);
  background: linear-gradient(
    0deg,
    rgba(104, 28, 184, 1) 0%,
    rgba(25, 28, 66, 1) 100%
  );
  color: aliceblue;
  font-family: "Nunito", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  padding: 0px 15px;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  background: #00d1ae;
  opacity: 0.8;
  color: #111;
  border: 3px solid #00d1ae;
  font-weight: bold;
  padding: 10px;
  width: 100px;
  text-align: center;
  border-radius: 10px 0px 10px 10px;
}

h1 {
  color: #ccc;
  font-size: 2.5em;
  margin-bottom: 30px;
  margin-top: 0;
  border: 5px solid #b9ad8f;
  border-radius: 34px;
  text-align: center;
  background: #2a2d63;
  padding: 8px 64px;
  display: inline-block;
  font-weight: 100;
  font-size: 50px;
}

.context{
  width: 450px;
  padding: 5px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.context h2{
  padding: 5px 10px;
}


.howTo {
  font-weight: 500;
  background-color: #8e2de2;
  text-align: justify;
  padding: 0 8px 0 8px;
  border-radius: 15px;
  text-align: center;
  line-height: 10px;
}

.howTo h3{
  font-size: 25px;
}

#marco {
  width: 200px;
  height: 200px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.58);
}

#selector {
  font-size: 1em;
  width:220px;
  display: flex;
  flex-direction: column;
}

button {
  font-weight:900;
  color: #262956;
  width: 100%;
  background-color:#3ca9bb;
  border: none;
}
.clases{
  font-size: 1em;
  font-family: "Nunito", sans-serif;
  text-align: center;
  margin-bottom: 6px;
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
}
#cantidad{
  padding-left: 25px;
}

.bottom {
  padding-top: 100px;
  font-size: smaller;
}

.clases:hover {
  cursor: pointer;
}

.calculate:hover {
  background-color: rgb(96, 237, 101);
  cursor: pointer;
}

.reset:hover {
  background-color: rgb(230, 235, 97);
  cursor: pointer;
}

img {
  width: 100%;
  aspect-ratio: 1;
}

.tip {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  font-weight: lighter;
}

#resultadoFinal {
  line-height: 25px;
  width: auto;
  height: auto;
  border-radius: 5px;
  padding: 8px;
  margin-top: 5px;
  background-color: aliceblue;
  color: black;
  text-align: left;
  display: none;
}

#emailMe:link {
  color: yellow;
}

a{
  text-decoration: none;
  color: #2a2d63;
}

.lvl-check{
  display: flex;
  align-items: center;
}



/* responsive for mobiles */
@media only screen and (max-width: 500px) {
  #selector {
    width:220px;
    display: flex;
    flex-direction: column;
  }
  #cantidad{
    padding-left: 11px;
  }
  .context{
    width: auto;
  }

  button{
    height: 70px;
    font-size: 25px;
  }


  

}
