body {
background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: rgb(255, 255, 255);
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
padding: 50px;
}
h1{
    font-weight: 100;
    font-size: 70px;
}
.howTo{
    font-weight: 1000;
    background-color: #8E2DE2;
    text-align: justify;
    padding: 0 35px 0 35px;
    border-radius: 15px;
}
#marco{
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px; 
    
}
.imagen{
    padding-top: 15px;
}

#results{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    color: black;
    width: 100em;
    height: 50px;
}

.bottom{
    padding-top: 100px;
    font-size: smaller;
}


